@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Rubik:wght@400;700&display=swap');

body,header,main,div,h1,h2,button {
  font-family: roboto;
}

body {
  max-width: 100%;
}


body > header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  font-size: 2.5vh;
}
body > header > h1 {
margin-left: 15%;
}

body > header > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

body > header > div > button {
  padding: 5px 20px;
  font-size: 2.5vh;
  color: white;
  background-color: black;
  border-radius: 20px;
  font-weight: bold;
  outline: none;
  border-style: none;
  transition:background-color 0,5s;
}
body > header > div > h2 {

}

body > main > div {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

body > main > div > div {
  width: 15vh;
  height: 15vh;
}


.red-block {
  background-color: rgb(255, 0, 0);
  transition: background-color 0.5s;
  margin-right: 25px;
}
.yellow-block {
  background-color: rgb(255, 255, 0);
  transition: background-color 0.5s;
  
}
.blue-block {
  background-color: rgb(0, 0, 255);
  transition: background-color 0.5s;
  margin-right: 25px;
}
.green-block {
  background-color: rgb(0, 255, 0);
  transition: background-color 0.5s;
}


.red-block:active,
.red-block.ativo {
  background-color: rgb(142, 0, 0);
}
.yellow-block:active,
.yellow-block.ativo {
  background-color: rgb(142, 142, 0)
}
.blue-block:active,
.blue-block.ativo {
  background-color: rgb(0, 0, 142)
}
.green-block:active,
.green-block.ativo {
  background-color: rgb(0, 142, 0)
}

.btn-start:hover,
.btn-start:focus {
  background-color: rgb(77, 77, 77);
}

.tooltip {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.text-controles {
  margin-right: 3%;
  margin-left: 2%;
  font-size: 2.5vh;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 20%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 1.5vh;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.text-status {
  font-size: 3vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility,opacity 2s;
}
.text-status.visible {
  visibility: visible;
  opacity: 1000;
  transition: visibility,opacity 2s;
}