@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


html,body {
  min-height: 100%;
}
body {
  background-image: url(./imgs/backgroundSmall.svg);
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Sen', sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  font-weight: 400;
}
header {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
header > h1 {
  font-weight: 300;
  font-size: 4.5vh;
  margin-left: 2%;
}
header > div {
  margin-left: 1%;
  width: 6vh;
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: flex-end;
}
@keyframes red {
  0%{background-color: rgb(130, 0, 0);}
  33% {background-color: red;}
  65%,100%{background-color: red;}
}
@keyframes blue {
  0%{background-color: blue;}
  33% {background-color: rgb(0, 0, 130);}
  66%,100%{background-color: blue;}
}
@keyframes yellow {
  0%{background-color: yellow;}
  66% {background-color: rgb(130, 130, 0);}
  100%{background-color: yellow;}
}
header > div > div {
  width: 1vh;
  height: 1vh;
  border-radius: 100%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.title-circle-1 {
  background-color: red;
  margin-right: 15%;
}
.title-circle-2 {
  background-color: blue;
  margin-right: 15%;
}
.title-circle-3 {
  background-color: yellow;
}
.div-placar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5%;  
}
.div-btn > button {
  font-family: 'Sen', sans-serif;
  outline: none;
  border: none;
  background: #FAFAFA;
  font-size: 2.75vh;
  font-weight: 400;
  margin-right: 2%;
}
.btn-hardmode.disabled, .btn-start.disabled {
  color: rgb(130, 128, 128);;
}
button:hover {
  background: rgb(218, 216, 216);
  border-radius: 2px;
  font-size: 2.8vh;
}
main {
  width: 100%;
}
.div-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text-status{
  visibility: hidden;
  opacity: 0;
  transition: visibility,opacity 1.7s;
  font-size: 2.7vh;
  padding-left: 4%;
}
.text-status.visible {
  visibility: visible;
  opacity: 1;
}
.div-recorde {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding-right: 14%;
  font-size: 2vh;  
}
.col-1,.col-2,.col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.col-1 {
  margin-right: 3%;
}
.col-3 {
  flex-direction: row;
}
.div-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4% 0px;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
main > div > div > div {
  width: 14vh;
  height: 15vh;
  margin-bottom: 10%;
}
.red-block {
  background-color: rgb(255, 0, 0);
  transition: background-color 0.5s;
}
.yellow-block {
  background-color: rgb(255, 255, 0);
  transition: background-color 0.5s;
}
.blue-block {
  background-color: rgb(0, 0, 255);
  transition: background-color 0.5s;
}
.green-block {
  background-color: rgb(0, 255, 0);
  transition: background-color 0.5s;
}
.purple-block {
  background-color: rgb(128, 0, 128);
  transition: background-color 0.5s;
  margin-right: 1vh;
  display: none;
}
.orange-block {
  background-color: rgb(255, 68, 0);
  transition: background-color 0.5s;
  display: none;
}
.purple-block.hidden {
  visibility: hidden;
}
.orange-block.hidden {
  visibility: hidden;
}


.red-block:active,
.red-block.ativo {
  background-color: rgb(142, 0, 0);
}
.yellow-block:active,
.yellow-block.ativo {
  background-color: rgb(142, 142, 0)
}
.blue-block:active,
.blue-block.ativo {
  background-color: rgb(0, 0, 142)
}
.green-block:active,
.green-block.ativo {
  background-color: rgb(0, 142, 0)

}
.purple-block:active,
.purple-block.ativo {
  background-color: rgb(85, 0, 85);;
}
.orange-block:active,
.orange-block.ativo {
  background-color: rgb(157, 42, 0);
}